.loading-screen {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  transform-origin: 32px 32px;
  animation: lds-roller 1.2s linear infinite;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #fff;
  margin: -4px 0 0 -4px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(150deg);
  }
  60% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(210deg);
  }
  80% {
    transform: rotate(240deg);
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(300deg);
  }
}
