.card {
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* margin: 0 auto;
  width: 50%;
  max-width: 400px; */
  border-top: 3px solid var(--color-primary);

}